services:

  postgres:
    #image: postgres:17.4
    image: postgres:15.15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_POSTGRES_USER}
      POSTGRES_PASSWORD: ${DB_POSTGRES_PASSWORD}
      POSTGRES_INITDB_ARGS: "--encoding=UTF8"
    ports:
      - ${DB_POSTGRES_PORT}:5432
    volumes:
      - ./volumes/postgresql/15:/var/lib/postgresql/data
    networks:
      - intranet-db
        #    healthcheck:
        #      test: ["CMD-SHELL", "pg_isready"]
        #      interval: ${DOCKER_HEALTHCHECK_INTERVAL}
        #      retries: ${DOCKER_HEALTHCHECK_RETRIES}
        #      timeout: ${DOCKER_HEALTHCHECK_TIMEOUT}
    deploy:
      resources:
        limits:
          memory: 1GB
  
  redis:
    image: redis:8.2.3
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass ${DB_REDIS_PASSWORD}
    ports:
      - ${DB_REDIS_PORT}:6379
    volumes:
      - vol-db-redis:/data
    networks: 
      - intranet-db
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: ${DOCKER_HEALTHCHECK_INTERVAL}
      retries: ${DOCKER_HEALTHCHECK_RETRIES}
      timeout: ${DOCKER_HEALTHCHECK_TIMEOUT}
    deploy:
      resources:
        limits:
          memory: 2GB

  bullboard:
    image: venatum/bull-board
    container_name: bullboard
    restart: unless-stopped
    environment:
      REDIS_HOST: redis
      REDIS_PORT: ${DB_REDIS_PORT}
      REDIS_PASSWORD: ${DB_REDIS_PASSWORD}
      REDIS_USE_TLS: 'false'
    ports:
      - ${BULL_UI_PORT}:3000
    networks:
      - intranet-db
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 0.5GB

  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin
  #   # restart: unless-stopped
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: "farias.softwares@gmail.com"
  #     PGADMIN_DEFAULT_PASSWORD: "321654987"
  #   ports:
  #     - 16543:80
  #   volumes:
  #     - vol-pgadmin:/var/lib/pgadmin
  #   networks:
  #     - intranet-db
  
  db-mysql:
    image: mysql:8
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_USER: ${DB_MYSQL_USER}
      MYSQL_PASSWORD: ${DB_MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_MYSQL_PASSWORD}
    ports:
      - ${DB_MYSQL_PORT}:3306
    volumes:
      - vol-db-mysql:/var/lib/mysql
    networks:
      - intranet-db
    deploy:
      resources:
        limits:
          memory: 1GB
  
  # db-mongo:
  #   image: mongo
  #   container_name: mongo
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: ${DB_MONGO_USER}
  #     MONGO_INITDB_ROOT_PASSWORD: ${DB_MONGO_PASSWORD}
  #   ports:
  #     - ${DB_MONGO_PORT}:27017
  #   volumes:
  #     - ./volumes/mongo:/data/db
  #   networks:
  #     - intranet-db
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 1GB
  
  # mongo-express:
    # image: mongo-express
    # container_name: mongo-express
    # ports:
    #   - 27018:27018
    # environment:
    #   ME_CONFIG_MONGODB_ADMINUSERNAME: root
    #   ME_CONFIG_MONGODB_ADMINPASSWORD: mongpassword
    #   ME_CONFIG_MONGODB_PORT: 27017
    #   ME_CONFIG_MONGODB_URL: mongodb://root:mongpassword@mongo:27017/
    # depends_on:
    #   - db-mongo

volumes:
  vol-db-mysql:
  vol-db-redis:

networks:
  intranet-db:
    driver: bridge
