/*--- Section: Maps ---*/

#section-maps {
    background-color: #fff;
}

#section-maps .content {
    margin-top: 80px;
    margin-top: 80px;
}

#map-item .map-banner {
    background: linear-gradient(to right, #2C7BF3, #2653B5);
    width: 100%;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}