*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #2550B0;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.btn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
}
