<!DOCTYPE html>
<html lang="pt">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Sudoku</title>

    <!-- Main Styles Links -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap" rel="stylesheet">

    <!-- Page Styles Links -->
    <link rel="stylesheet" type="text/css" href="css/styles-navbars.css">
    <link rel="stylesheet" type="text/css" href="css/styles-games.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <style>
        .navbar .navbar-brand {
            font-family: 'Ubuntu', sans-serif;
            font-size: 35px;
            font-weight: bold;
        }
    </style>

</head>

<body>

    <div class="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="/">farias.dev</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn" href="/navbars.html" role="button">Navbars</a>
                            <a class="btn" href="/maps.html" role="button">Maps</a>
                        </li>
                        <li class="nav-item">
                            <a id="btn-cta" class="btn btn-light" href="https://wa.me/5581998550517" target="_blank" role="button">Mais</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <section id="section-sudoku">
        <div class="container">

            <div class="row">
                <div class="col-12 mb-5">
                    <h1>Sudoku</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-5">
                    <ul>
                        <li><a href="https://github.com/pocketjoso/sudokuJS">sudokuJS</a></li>
                        <li><a href="https://codepen.io/pavlovsk/pen/XmjPOE?editors=0010">Codepen: pavlovsk</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <section id="section-crossword">
        <div class="container">

            <div class="row">
                <div class="col-12 mb-5">
                    <h1>Crosswords</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-2">
                    <ul>
                        <li><a href="https://github.com/felipemarchi/palavras-cruzadas-php/">palavras-cruzadas-php</a></li>
                        <li><a href="https://jaredreisinger.github.io/react-crossword/#/Default%20component">react-crossword</a></li>
                        <li><a href="https://github.com/keiranking/Phil">keiranking/Phil</a></li>
                        <li><a href="https://github.com/jweisbeck/Crossword">jweisbeck/Crossword</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <p>Característica</p>
                    <ul>
                        <li>Jogo é gerado no front</li>
                        <li>Eu como jogador desejo gerar novo jogo (Botão)</li>
                        <li>Eu como jogador desejo visualizar dicas</li>
                        <li>Eu como jogador desejo visualizar respostas</li>
                    </ul>
                    <ul>
                        <li><a href="https://www.reddit.com/r/datasets/comments/46jol1/dataset_30000_published_crossword_puzzles/">reddit</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>