<!DOCTYPE html>
<html lang="pt">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>UI Components Templates</title>

    <!-- Main Styles Links -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap" rel="stylesheet">

    <!-- Page Styles Links -->
    <link rel="stylesheet" type="text/css" href="css/styles-navbars.css">
    <link rel="stylesheet" type="text/css" href="css/styles-maps.css">
    

</head>

<body>

    <div class="header">

        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #2653B5;">
            
            <a class="navbar-brand" href="#"><img src="scr/logo.svg" alt="Logo Name"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn" href="/navbars.html" role="button">Navbars</a>
                        <a class="btn" href="/maps.html" role="button">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a id="btn-cta" class="btn btn-light" href="https://wa.me/5581998550517" target="_blank" role="button">Mais</a>
                    </li>
                </ul>
            </div>

        </nav>

    </div>

    <section id="section-maps">
        <div class="container">

            <div class="row justify-content-center">
                <h1>Style Default</h1>
            </div>

            <div class="row justify-content-between align-items-center">

                <div class="col-lg-6">

                    <div id="card-map-1" class="d-flex flex-column mb-4">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15801.749574756743!2d-34.878701388922295!3d-8.056787403732843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18a48f03c145%3A0xef4ac38fd080a24!2sPra%C3%A7a%20do%20Marco%20Zero!5e0!3m2!1spt-BR!2sbr!4v1601901449406!5m2!1spt-BR!2sbr"
                            height="180" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                        <div class="map-banner">Recife - Brasil</div>
                    </div>

                    <div id="card-map-1" class="d-flex flex-column">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15801.749574756743!2d-34.878701388922295!3d-8.056787403732843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18a48f03c145%3A0xef4ac38fd080a24!2sPra%C3%A7a%20do%20Marco%20Zero!5e0!3m2!1spt-BR!2sbr!4v1601901449406!5m2!1spt-BR!2sbr"
                            height="180" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                        <div class="map-banner">Recife - Brasil</div>
                    </div>

                </div>

                <div id="card-map-1" class="col-lg-6 d-flex flex-column">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15801.749574756743!2d-34.878701388922295!3d-8.056787403732843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18a48f03c145%3A0xef4ac38fd080a24!2sPra%C3%A7a%20do%20Marco%20Zero!5e0!3m2!1spt-BR!2sbr!4v1601901449406!5m2!1spt-BR!2sbr"
                        height="100%" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                    <div class="map-banner">Recife - Brasil</div>
                </div>

                <div id="card-map-1" class="col-lg-12 d-flex flex-column mt-5">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15801.749574756743!2d-34.878701388922295!3d-8.056787403732843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18a48f03c145%3A0xef4ac38fd080a24!2sPra%C3%A7a%20do%20Marco%20Zero!5e0!3m2!1spt-BR!2sbr!4v1601901449406!5m2!1spt-BR!2sbr"
                        height="400" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                    <div class="map-banner">Recife - Brasil</div>
                </div>

            </div>

            <div class="row justify-content-center">
                <h1>Style 1</h1>
            </div>

            <div class="row justify-content-between align-items-center">

                <div class="col-lg-6 mt-5 mb-5">

                    <div class="card-map-1 flex-column mb-4" style="height: 235px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75896.54104790652!2d139.71439749585423!3d35.678450641748555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b857628235d%3A0xcdd8aef709a2b520!2zVMOzcXVpbywgSmFww6Nv!5e0!3m2!1spt-BR!2sbr!4v1603434413953!5m2!1spt-BR!2sbr"
                            height="250" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                        <div class="map-banner">Tóquio - Japão</div>
                    </div>

                    <div class="card-map-1 flex-column" style="height: 235px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75896.54104790652!2d139.71439749585423!3d35.678450641748555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b857628235d%3A0xcdd8aef709a2b520!2zVMOzcXVpbywgSmFww6Nv!5e0!3m2!1spt-BR!2sbr!4v1603434413953!5m2!1spt-BR!2sbr"
                            height="250" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                        <div class="map-banner">Tóquio - Japão</div>
                    </div>

                </div>

                <div class="col-lg-6 mt-5 mb-5">

                    <div class="card-map-1 flex-column" style="height: 494px">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75896.54104790652!2d139.71439749585423!3d35.678450641748555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b857628235d%3A0xcdd8aef709a2b520!2zVMOzcXVpbywgSmFww6Nv!5e0!3m2!1spt-BR!2sbr!4v1603434413953!5m2!1spt-BR!2sbr"
                            frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                        </iframe>
                        <div class="map-banner">Tóquio - Japão</div>
                    </div>

                </div>

                <div class="card-map-1 flex-column col-sm-12 mt-5 mb-5" style="height: 494px">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75896.54104790652!2d139.71439749585423!3d35.678450641748555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b857628235d%3A0xcdd8aef709a2b520!2zVMOzcXVpbywgSmFww6Nv!5e0!3m2!1spt-BR!2sbr!4v1603434413953!5m2!1spt-BR!2sbr"
                        height="250" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                    <div class="map-banner">Tóquio - Japão</div>
                </div>

            </div>

        </div>
    </section>

    <section id="section-local">
        <div class="container">
    
            <div class="row justify-content-around align-items-center mb-4">

                <div class="col-sm-12 col-lg-4 mt-2 mb-4">
                    <img class="img-fluid" src="img/shapes/shape-title-1.svg">
                </div>
    
                <div class="col-sm-9 col-lg-4 mt-4 mb-2">
    
                    <a class="card">
                        <img 
                            class="card-img-top"
                            src="/img/pexels-guilherme-rossi-1819669.jpg">
                    </a>
                    
                </div>
    
            </div>

            <div class="row justify-content-around align-items-center mb-4">

                <div class="col-sm-12 col-lg-4 mt-2 mb-4 order-lg-2">
                    <img class="img-fluid" src="img/shapes/shape-title-2.svg">
                </div>

                <div class="col-sm-9 col-lg-4 mt-4 mb-2 order-lg-1">
    
                    <a class="card">
                        <img 
                            class="card-img-top"
                            src="/img/pexels-guilherme-rossi-1819669.jpg">
                    </a>
                    
                </div>

            </div>

            <div class="row justify-content-around align-items-center mb-4">

                <div class="col-sm-12 col-lg-4 mt-2 mb-4">
                    <img class="img-fluid" src="img/shapes/shape-title-1.svg">
                </div>
    
                <div class="col-sm-9 col-lg-4 mt-4 mb-2">
    
                    <a class="card">
                        <img 
                            class="card-img-top"
                            src="/img/pexels-guilherme-rossi-1819669.jpg">
                    </a>
                    
                </div>
    
            </div>
    
        </div>

    </section>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>