<!DOCTYPE html>
<html lang="pt">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Hamburger</title>

    <!-- Main Styles Links -->
    <link rel="stylesheet" type="text/css" href="css/styles-hamburger.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap" rel="stylesheet">
    

</head>
<body>

    <nav class="menu-navbar">

        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul class="menu-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#"><button class="btn" id="btn-cta">More</button></a></li>
        </ul>

    </nav>
    
    <section id="section-home">
        <div class="container">
            <div class="row justify-content-around align-items-center">

                <div class="col-sm-6 mb-5">

                    <div class="row align-items-center">
                        
                        <div class="section-title mb-4">
                            <h1>Culinária Japonesa</h1>
                            <div class="underline-title-start"></div>
                        </div>

                        <p>Por que seu paladar merece a melhor experiência com a cultura oriental. Temaki, Sashimi,
                            Nigirizushi dentre outros pratos fazem parte desta culinária.
                        </p>

                        <a class="mt-4" href="#">
                            <button class="btn" id="btn-cta">Pedir</button>
                        </a>
                    </div>

                </div>

                <div class="col-sm-5 mb-5">
                    <a><img src="/img/kintsugi/bg-1.png" class="img-fluid" alt=""></a>
                </div>

            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>