/*--- Navbar ---*/

.navbar {
    min-height: 80px;
    padding: 8px 16px;
    background-color: #2653B5;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07);
}

.navbar-brand {
    margin: auto;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    margin-left: 16px;
}

.navbar .btn {
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.navbar .btn:focus {
    border: #fff;
    border-radius: 3.2px;
}

#btn-cta {
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: #2653B5;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3.2px;
}

/*
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
*/