/*-- Main Styles --*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
section {
    padding: 100px 20px;
    position: relative;
}
footer {
    padding: 100px 20px 20px;
}
h1 {
    font-weight: bold;
    font-size: 30px;
}
p {
    font-weight: normal;
    font-size: 16px;
}
a {
    color: #333;
}
a:hover {
    text-decoration: none;
}

.text-light {
    color: #fff !important;
}
.text-dark {
    color: #000 !important;
}
.text-red {
    color: #FF1C29;
}
.text-red_dark {
    color: #B6000B;
}

/*--- MENU: NAVBAR ---*/
.menu-navbar {
    overflow: hidden;
    position: fixed;
    min-width: 100vw;
    height: 12vh;
    background-color: #fff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    z-index: 1000;
    top: 0;
}
.menu-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 0px auto;
}
.menu-links li a button {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
    color: #000;
    font-size: 36px;
    font-weight: bold;
    margin: 5px auto;
}
/*-- MENU: SCREENS BREAKPOINTS --*/
@media screen and (max-width: 768px){
    
    nav {
        position: relative;
    }
    .menu-links {
        position: fixed;
        top: 12vh;
        bottom: 0;
        width: 100%;
        height: 88vh;
        background-color: #fff;
        flex-direction: column;
        z-index: 1;
        clip-path: circle(45px at 7% -12%);
        -webkit-clip-path: circle(45px at 7% -12%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .menu-links.open {
        clip-path: circle(45px at 93% -12%);
        -webkit-clip-path: circle(185vh at 93% -12%);
        pointer-events: all;
    }

    .btn-menu-links {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        cursor: pointer;
        left: 5%;
        margin-right: auto;
        transition: all 1s ease-in-out;
        border-radius: 10px;
        /*border: 3px solid #000;*/
    }
    .btn-menu-links.open .hamburger {
        transform: translateX(-45px);
        background-color: transparent;
        box-shadow: none;
    }
    .btn-menu-links.open .hamburger::before {
        transform: rotate(45deg) translate(32px, -32px);
    }
    .btn-menu-links.open .hamburger::after {
        transform: rotate(-45deg) translate(32px, 32px);
    }
    .hamburger {
        width: 30px;
        height: 4px;
        background-color: #000;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 2px 5px rgba(73, 73, 73, 0.2);
    }
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #000;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 2px 5px rgba(73, 73, 73, 0.2);
    }
    .hamburger::before {
        transform: translateY(-10px);
    }
    .hamburger::after {
        transform: translateY(10px);
    }

}
@media screen and (min-width: 769px) and (max-width: 1440px){
    .navbar-brand {
        margin: 0 20px !important;
    }
    .menu-navbar {
        padding: 10px 40px;
    }
}

/*-- SECTION: HOME --*/
#section-home {
    padding-top: calc(12vh + 80px);
    min-height: 88vh;
}
#section-home img {
    display: flex;
}
#section-home p {
    font-size: 24px;
}
@media screen and (min-width: 769px) and (max-width: 1440px){
    #section-home h1,
    #section-home p {
        text-align: left;
    }
}

/*-- SECTION: MAIN FEATURES --*/
#section-main_features {
    background-image: linear-gradient(to bottom right, #FFF, #F4F4F4);
}
#section-main_features .card {
    min-height: 412px;
    padding: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}
#section-main_features .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
}
#section-main_features .card-img-top {
    max-height: 125px;
    margin: auto;
}
#section-main_features .card-text {
    padding: 0;
    margin: auto;
}
#section-main_features p {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
#section-main_features a:hover,
#section-main_features a:active {
    color: #B6000B;
}

/*-- SECTION: PRODUTCS --*/
#section-products {
    min-height: 100vh;
    background-image: url('/img/backgrounds/bg-waves.jpg') !important;
    background-position: center top;
    background-size: cover;
}
#section-products .section-title h1,
#section-products a,
#section-products p {
    color: #fff;
}

.product-container {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
.product-card {
    position: relative;
    padding: 20px;
    width: 260px;
    height:350px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin: 10px;
}
.product-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF1C29;
    clip-path: circle(200px at 110% 0%);
    transition: 0.5s ease-in-out;
}
.product-card:hover::before,
.product-card:active::before {
    clip-path: circle(270px at 80% -30%);
}
.product-img {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    transition: 0.5s;
}
.product-card:hover .product-img,
.product-card:active .product-img {
    top: 35%;
    transform: translateY(0%);
}
.product-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
}
.product-content {
    position: absolute;
    top: 70%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    z-index: 5;
}
.product-card:hover .product-content,
.product-card:active .product-content {
    top: 67%;
}
.product-content h3 {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    position: relative;
}
.product-content button {
    margin: 10px;
    opacity: 0;
    visibility: hidden;
}
.product-card:hover button,
.product-card:active button {
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

/*-- SECTION: CTA --*/
#section-cta {
    background-image: url('/img/backgrounds/bg-2.jpg') !important;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #fff, #f4f4f4);
}
#section-cta .section-title h1,
#section-cta a,
#section-cta p {
    color: #fff;
}
#section-cta p {
 text-align: center;
 font-size: 16px;
}

/*-- SECTION: CONTACT --*/
.map-item {
    display: flex;
}
.map-item .map-banner {
    background: linear-gradient(to right, #FF9D00, #FF5C00);
    width: 100%;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.map-item iframe {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

/*-- SECTION: INSTAGRAM FEED --*/
#section-feed {
    min-height: 900px;
    background: linear-gradient(to bottom right, #fff, #f4f4f4);
    background-image: url("/img/backgrounds/bg-3.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.feed-itens img {
    border-radius: 25px 25px 0px 0px;
    width: 320px;
    max-height: 320px;
}
.feed-itens p {
    font-size: 16px;
}
.feed-itens a {
    background-color: #fff;
    display: inline-table;
    cursor: context-menu;
}
.feed-itens div>div {
    text-align: center;
}
.feed-itens button {
    position: relative;
    margin-top: auto;
}
.feed-itens a:hover,
.feed-itens div>div:hover {
    text-decoration: none;
}

.fix-ellipsis {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
}

.instagram-image,
.instagram-sidecar,
.instagram-video {
    box-shadow: 0px 0px 76px -9px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 20px auto;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .feed-itens a {
        max-width: 320px;
    }
}

.instagram_gallery {
    margin: auto;
}

/*-- SECTION: LOCAL --*/
#section-local {
    background: #F8FAFC;
}
#mycarousel-1 {
    display: flex;
    overflow: hidden;
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
#section-local .card {
    overflow: hidden;
    max-height: 464px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
#section-local .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.25);
}

/*-- SECTION: CONTACT --*/
#section-contact {
    min-height: 420px;
    background-image: linear-gradient( to bottom right, #333, #000);
}

/*-- ELEMENTS: SHAPES DIVIDERS --*/
.shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

/*-- ELEMENTS: BUTTONS --*/
.btn {
    height: 45px;
    width: 142px;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;

    font-size: 12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

#btn-cta {
    height: 45px;
    min-width: 148px;
    background: linear-gradient(to right, #FF1C29, #B6000B);
    margin: 0px 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
#btn-cta:hover {
    background: linear-gradient(to right, #B6000B, #FF1C29);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
#btn-cta:active {
    color: #FF1C29;
    border: 2px solid #FF1C29;
    background: transparent;
}

#btn-red {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #FF1C29, #B6000B);
}
#btn-red:hover {
    color: #FF1C29;
    background: transparent;
    border: 2px solid #FF1C29;
}
#btn-red:active {
    color: #fff;
    border: none;
    background: #B6000B;
}
#btn-red-cut {
    color: #FF1C29;
    background: transparent;
    border: 2px solid #FF1C29;
}
#btn-red-cut:hover {
    color: #fff;
    background: linear-gradient(to right, #FF1C29, #B6000B);
    border: none;
}
#btn-red-cut:active {
    background: #B6000B
}

#btn-orange-cut {
    color: #FF9D00;
    background: transparent;
    border: 2px solid #FF9D00;
}
#btn-orange-cut:hover {
    color: #fff;
    background: linear-gradient(to right, #FF9D00, #FF5C00);
    border: none;
}
#btn-orange-cut:active {
    background: #FF5C00
}

.button-float {
    display: none;
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 16px;
    right: 16px;
    color: #fff;
    background-color: #2EC8A6;
    border-radius: 45px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    justify-content: center;
    align-items: center;
    box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    
}
.button-float:hover {
    box-shadow: 0 7px 7px rgba(46, 200, 166, 0.5);
}
.button-float:active {
    background-color: #28B193;
    box-shadow: none;
}
.button-float .icon {
    background-image: url("/img/icons/wpp-icon.svg");
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width: 768px) {
    .button-float {
        display: flex !important;
    }
}

/*-- ELEMENTS: TEXTS --*/
.section-title {
    margin-bottom: 100px;
    height: 100%;
}
.section-title .underline-center {
    display: inline-block;
    position: relative;
}
.section-title .underline-center:after {
    content: "";
    height: 3px;
    width: 40%;
    background-color: #FF1C29;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
}
.section-title p {
    color: #333;
    font-size: 14px;
    margin-top: 40px;
    font-weight: bold;
}

/*-- ELEMENTS: LINES --*/
.underline-full {
    color: #B6000B;
    width: 100%;
    height: 5px;
    border-bottom: 3px solid currentColor;
    position: relative;
    opacity: 0;
}
.btn:hover + .underline-full {
    opacity: 1;
}

.underline-start {
    width: calc(100% - 75%);
    height: 5px;
    border-bottom: 3px solid currentColor;
    position: relative;
}
@media screen and (max-width: 769px) {
    .underline-start {
        display: inline-block;
    }
}